html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-foreground: 17, 24, 17;
  --color-foreground-secondary: 42, 56, 85;
  --color-background-secondary: 175, 173, 168;
  --color-background: 243, 244, 246;
  --color-light: 243, 244, 246;
  --color-mid: 46, 60, 90;
  --color-dark: 17, 24, 39;
  --user-font-scale: 1rem;
  --rainbow-1: #632bf3;
  --rainbow-2: #f122c8;
  --rainbow-3: #f16022;
  --rainbow-4: #9ef344;
  --rainbow-5: #44d3f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: 250, 246, 238;
    --color-foreground-secondary: 175, 173, 168;
    --color-background-secondary: 42, 56, 85;
    --color-background: 17, 24, 17;
  }
}

header {
  background-color: rgb(var(--color-background));
  padding: 2rem 0.5rem;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1;
}

@import "home.scss"